h1 {
    margin-top: 45px !important;
    padding-top: 0% !important;
}
h2{
    font-size: 3em !important;
}
@media screen and (max-width: 600px) {
    h2{
        font-size: 2em !important;
    }
}

@media screen and (max-width: 1202px) {
    .card-title{
        font-size: 1.1em !important;
    }
}
@media screen and (max-width: 702px) {
    .card-title{
        font-size: 0.8em !important;
    }
}
@media screen and (max-width: 600px) {
    .card-title{
        font-size: 2em !important;
    }
}

#intro {
    margin-top: -90px !important;
    margin-bottom: -70px !important;
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 40px !important;
        margin-top: 80px !important;
    }
}

#index-banner {
    min-height: 300px !important;
    max-height: 300px !important;
}

.header.text_b {
    text-align: center;
}

.header.text_b.disciplinas {
    margin-top: 100px !important;
}
#rodape {
    margin-top: -8px;
    text-align: center;
    color: white;
}